body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
    z-index: 1000;
}

.logo {
    display: block;
	margin: 0 auto;
	height: 50px;
	width: 200px;
}

.slide {
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3vw;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Parallax scrolling effect */
}

#slide1 {
    background-image: url('assets/slide1.jpg');
}

#slide2 {
    background-image: url('assets/slide2.jpg');
}

#slide3 {
    background-image: url('assets/slide3.jpg');
}